@import '../../global/app.scss';

:host {
  position: relative;
  min-height: 6rem;
  min-width: 210px;
  max-width: 310px;
  min-height: 6rem;
  width: 90%;
  padding: 5px;
  background-color: $grey-dark2;
  border-radius: 20px;
  color: #fff;
  margin: 6px;
  font-family: $font-family;
  display: inline-block;
  .sticky {
    position: sticky;
  }
  .mainSvg {
    background: #000;
    width: 79px;
    height: 79px;
    top: -1px;
    left: 3px;
    border-radius: 50%;
    fill: var(--color, $blue);
    img {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .value {
    font-size: 25px;
    font-weight: 700;
    color: var(--color, $blue);
    float: right;
    text-align: right;
    .porcentagem {
      font-size: 15px;
      font-weight: 500;
    }
    .ocupacao {
      font-size: 10px;
      display: block;
      font-weight: 200;
      color: $grey-light;
    }
  }

  .progressBar {
    width: 100%;
    height: 9px;
    border-radius: 5px;
    background-color: $black;
    position: relative;
    z-index: 0;
    .filler {
      height: 9px;
      border-radius: inherit;
      transition: width 0.2s ease-in;
      background: var(--color, $blue);
      width: calc((var(--value, 0) * 100%) / var(--maxValue, 100));
      max-width: 100%;
      z-index: 1;
    }
    .bar80 {
      height: 9px;
      background: $yellow;
      width: 1px;
      position: absolute;
      top: 0;
      left: 79%;
      z-index: -1;
    }
    .bar90 {
      height: 9px;
      background: $red;
      width: 1px;
      position: absolute;
      top: 0;
      left: 89%;
      z-index: -1;
    }
  }
  .name {
    font-weight: 700;
    min-height: 100%;
    display: inline-flex;
    align-items: center;
    height: 50px;
    overflow-wrap: break-word;
    position: absolute;
    top: -3px;
  }
  .meio {
    margin: 0 auto;
    text-align: center;
    .image {
      max-width: 80px;
      top: 3px;
      left: 3px;
      position: relative;
    }
    .firstLine {
      border-top: 1px solid var(--color, $blue);
      border-right: 1px solid var(--color, $blue);
      border-radius: 0px 5px 0px 0px;
      svg {
        fill: var(--color, $blue);
      }
      .lung {
        color: var(--color, $blue);
      }
    }
    .secondLine {
      background-color: var(--color, $blue);
      border-radius: 0px 0px 5px 0px;
      .break {
        color: $black;
        margin-top: 2px;
        font-weight: 400;
      }
    }

    .fillFirstLine {
      z-index: -1;
      width: 50px;
      height: 1px;
      position: absolute;
      left: -50px;
      top: -1px;
      background-color: var(--color, $blue);
    }
    .fillSecondLine {
      z-index: -1;
      width: 50px;
      height: 100%;
      position: absolute;
      left: -50px;
      top: 0px;
      background-color: var(--color, $blue);
    }
  }
}
