@import '../../global/app.scss';

:host {
  display: block;

  max-width: 310px;

  min-height: 5rem;
  max-height: 6rem;
  position: relative;
  background-color: $grey-dark2;
  font-family: $font-family;
  margin: 6px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--color, $blue);
  text-align: start;
  .name {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-top: 6px;
  }
  .value {
    margin-top: 10px;
    color: var(--color, $blue);
    font-size: 35px;
    font-weight: 800;
  }
}
