@import '../../global/app.scss';

:host {
  display: block;

  height: 100%;
  position: relative;
  background-color: $grey-dark2;
  font-family: $font-family;
  border-radius: 20px;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    margin: 6px;
    padding: 10px;
    border-radius: inherit;
    border: 1px solid var(--color, $blue);
    width: 100%;
  }
  .name {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-top: 6px;
  }
  .value {
    margin-top: 10px;
    color: var(--color, $blue);
    font-size: 35px;
    font-weight: 800;
  }
}
